.contact-top {
  margin-top: 130px;
}

.contact-main,
.ct-main.row {
  padding: 0 !important;
}

.contact-main {
  display: flex;
  gap: 20px;
  flex-direction: inherit;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px !important;
}

.contact-wrap {
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.contact-icon img {
  width: 90px;
  height: 90px;
}

.contact-text span {
  line-height: 40px;
  font-weight: 500;
  font-size: 19px;
}

.contact-text p {
  font-size: 17px;
  color: #655a5a;
}

.leads {
  color: #687188;
  line-height: 28px;
}

.form-group-contact.col-md-6,
.col-md-12 {
  padding: 0 !important;
}

.form-group-contact {
  margin-bottom: 16px;
  width: 100%;
}

.form-group-contact input {
  outline: none;
  padding: 8px 15px;
  height: 50px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 100%;
}

textarea {
  width: 100%;
  outline: none;
  padding: 8px 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn-fill-out {
  outline: none;
  border: 1px solid #ff324d;
  padding: 12px 35px;
  color: #fff;
  background-color: #ff324d;
  border-radius: 4px;
}

iframe {
  width: 100%;
}

.form-group-contact.col-md-12 {
  padding-right: 10px !important;
}

.accumulating-success {
  text-align: center;
  margin-top: 35px;
}

.accumulating-success img {
  width: 160px;
  height: auto;
  margin-bottom: 20px;
}

.err {
  color: red;
  display: flex;
}

.form-group-contact box-icon {
  width: 18px;
}

.success {
  color: #07bc0c;
  display: flex;
}

.succ-ac {
  color: #687188;
}

.form-con::placeholder {
  color: #777777;
}

.form-con {
  padding-left: 15px;
}
