@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,500;1,300;1,400;1,500&display=swap");
.signin-content {
  margin-top: 120px;
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 35px 0 70px 0;
  width: 100%;
}

.service,
.sign-up {
  color: black;
  text-decoration: none;
}

.sign-up {
  font-size: 17px;
}

.form-title {
  margin-bottom: 30px;
  font-weight: 700;
}

.signin-form {
  width: 45%;
  margin-left: 4px;
  margin-right: 75px;
  padding-left: 34px;
}

.form-group-signin input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #bbb8b8;
  border-radius: 0px;
  padding: 6px 30px;
}

.signin-content .register-form input:focus {
  /* border: none; */
  outline: none;
}

.signin-content .register-form input:focus-visible {
  /* border: none; */
  outline: none;
}


.register-form input:focus -moz-placeholder {
  color: #999;
}

.sign-image {
  width: 47%;
  text-align: center;
}

figure img {
  max-width: 100%;
  height: auto;
}

.form-group-signin {
  margin-bottom: 20px;
}

.input-form {
  position: relative;
}

.form-group-signin i:not(.bxs-show, .bxs-hide) {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.signin-content input:focus {
  border-bottom: 1px solid #000;
}

.signin-content input:focus::-webkit-input-placeholder {
  color: #222;
}

.signin-content input:focus::-moz-placeholder {
  color: #222;
}

.signin-content input:focus:-ms-input-placeholder {
  color: #222;
}

.signin-content input:focus:-moz-placeholder {
  color: #222;
}

.checkform {
  margin-top: 20px;
}

.checkbox {
  margin-top: 25px;
}

.check-service {
  display: flex;
}

.term-service {
  margin-left: 10px;
  cursor: pointer;
}

.btn-sent-form {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  border: none;
}

.form-group-signin span,
.error {
  font-style: italic;
  font-size: 13px;
  color: red;
}

.input-form .bxs-show,
.bxs-hide {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.img-sign-in {
  background-image: url("https://colorlib.com/etc/regform/colorlib-regform-7/images/signin-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 75%;
  margin-bottom: 60px;
}

@media (max-width: 770px) {
  .signin-content {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 0 16px;
  }

  .form-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .signin-form {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  form.register-form {
    padding-left: 20px;
  }

  .sign-image {
    width: 100%;
    order: 2;
  }

  .img-sign-up {
    background-size: inherit;
    padding-top: 100%;
    margin-bottom: 0;
  }

  .checkform {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 496px) and (max-width: 553px) {
  .img-sign-up {
    background-size: 400px;
  }
}

@media (min-width: 553px) and (max-width: 653px) {
  .img-sign-up {
    background-size: 450px;
  }
}

@media (min-width: 653px) and (max-width: 753px) {
  .img-sign-up {
    background-size: 500px;
  }
}

@media (min-width: 753px) and (max-width: 770px) {
  .img-sign-up {
    background-size: 550px;
  }
}
